/** Default color palette **/
$primary-color-1: #6A7894;
$primary-color-2: #6A7894;
$secondary-color-1: #ffffff;
$secondary-color-2: #ffffff;
$accent-color: #c5eef3;

$bg-color: #eef2ff;
$surface-color-1: $bg-color;
$surface-color-2: #ffffff;

$error-color: salmon;
$success-color: #30ffa6;

$shadow-light: #ffffff;
$shadow-dark: #cdd3e7;

/** Dimensions **/
$list-max-height: 500px;
$list-item-height: 50px;

/** Feedback **/
$list-hover-color: $accent-color;
$transition-duration: 0.2s;